*{
    box-sizing: border-box;
    font-family: sans-serif;
    cursor:pointer;
    margin:0;
}
body{
    background: linear-gradient(180deg, #e0f7ff 0%, #ffffff 100%);
}
header{
    background: #020024;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 46%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    padding:20px;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
ul{
    display: flex;
    gap:5em;
}
a{
    text-decoration: none;
    color:rgb(216, 216, 216);
    font-weight: 800;
    transition: all 0.5s linear;
}
a:hover{
    color:grey;
    font-size: larger;
    text-decoration: underline;
}
li{
    list-style-type: none;
}

.Home-section,h1{
    padding: 20px;
    display: grid;
    justify-content: center;
    text-align:justify;
}
h2{
    padding: 20px;
    line-height: 5vh;
}
span{
    color:rgb(0, 136, 255)
}

.About-section{
    padding: 20px;
    display: flex;
    margin: 0;
}
.table1{
    border-style:solid;
    margin-right: 20px;
    border-collapse: collapse;
    border-color: rgba(128, 128, 128,0.5);
    width: 50%;
}
.titletable-1{
    background-color: yellow;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style:solid;
    border-color: rgba(128, 128, 128,0.5);
    padding: 10px;
}
.table2{
    border-style:solid;
    border-collapse: collapse;
    border-color: rgba(128, 128, 128,0.5);
    width: 50%;
}
.table1, .table2 {
    transition: all 0.3s ease; 
}

.table1:hover, .table2:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

tr,td{
    padding: 15px;
}
.titletable-2{
    background-color: rgb(0, 0, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style:solid;
    border-color: rgba(128, 128, 128,0.5);
    padding: 10px;
}
.header-about{
    padding: 20px;
}
.Contact-section{
    padding: 20px;
}
form{
    padding: 20px;
    display: grid;

}
input{
    padding: 10px;
    margin-bottom: 10px;
}
button{
    margin-left: 20px;
    padding: 10px;
}
@media(max-width:768px){
     .About-section {
        flex-direction: column; 
        gap: 10px;
    }

    .table1, .table2 {
        width: 100%; 
    }
}
